<h1>New Question</h1>

<form action="/create_question">
  <div>
    <label for="quiz_id">Quiz_ID</label><br />
    <input id="quiz_id" name="quiz_id" type="text" />
  </div>
  <div>
    <label for="query">Question</label><br />
    <input id="query" name="query" type="text" />
  </div>
  <div>
    <label for="correct_answer">Correct Answer</label><br />
    <input id="correct_answer" name="correct_answer" type="text" />
  </div>
  <div>
    <label for="user_answer">user_answer</label><br />
    <input id="user_answer" name="user_answer" type="text" />
  </div>
  <div>
    <label for="author">Author</label><br />
    <input id="author" name="author" type="text" />
  </div>
  <div>
    <label for="wrong_answer_1">Wrong Answer 1</label><br />
    <input id="wrong_answer_1" name="wrong_answer_1" type="text" />
  </div>
  <div>
    <label for="wrong_answer_2">Wrong Answer 2</label><br />
    <input id="wrong_answer_2" name="wrong_answer_2" type="text" />
  </div>
  <div>
    <label for="wrong_answer_3">Wrong Answer 3</label><br />
    <input id="wrong_answer_3" name="wrong_answer_3" type="text" />
  </div>
  <div>
    <label for="answered">answered</label><br />
    <input id="answered" name="answered" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

