<h1>New Quiz
  <br>
  <small>Here you may add a new quiz. Again, please use this wisely and make a geometry quiz.</small>
</h1>

<form action="/create_quiz">
  <div>
    <label for="chapter_number">Chapter Number</label><br />
    <input id="chapter_number" name="chapter_number" type="text" />
  </div>
  <div>
    <label for="chapter_name">Chapter Name</label><br />
    <input id="chapter_name" name="chapter_name" type="text" />
  </div>
  <div>
    <label for="number_of_questions">Number of Questions</label><br />
    <input id="number_of_questions" name="number_of_questions" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="score">score</label><br />
    <input id="score" name="score" type="text" />
  </div>
  <div>
    <label for="number_answered">number_answered</label><br />
    <input id="number_answered" name="number_answered" type="text" />
  </div>
  <div>
    <label for="completed">completed</label><br />
    <input id="completed" name="completed" type="text" />
  </div>
  
  <br>
  <div>
    <input type="submit">
  </div>
</form>

