<h1> You have been signed out. </h1>
<h1>Sign In</h1>
<form action="/sessions/create">
  <label for= "username">Username:</label>
  <input id="username" type="text" placeholder="Your Username Here" name="username">
  <label for="password">Password:</label>
  <input id="password" type="password" placeholder="Your Password Here" name="password">
  <input type = "submit" value="Sign In">
</form>