<h1>New User</h1>

<form action="/create_user">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">Email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <label for="bio">Bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <label for="pic">Pic</label><br />
    <input id="pic" name="pic" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

