<h1> Thank you for donating.</h1>
<h1><small>If you feel good about yourself now, comment in the comments below that you donated to a good cause!</small></h1>
<h3>We thank you for your <img src="http://www.madisontrustlaw.com/files/2014/03/Stacks-of-Money-.png" alt="money" height="100px" width="100px"></h3>
<h3>
  <button><a href="/show">Back to GeoQuiz</a></button>
</h3>