<div class = "logo">
    <img src= "http://www.conservapedia.com/images/thumb/1/14/Pi-symbol.png/496px-Pi-symbol.png" alt="pi" height = "50px">
    <h2><strong>GEOQUIZ</strong></h2>
</div>
<div class = "container">
 <div class = "row">
  <div class = "col-md-6">
    <img src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQH6s0d5W7uTgIM1M3fRdhWWSrMhSFkHEJboLDOZYi3KR62laIMgg" alt="math" height = "300px">
         <h1>WELCOME TO GEOQUIZ
           <br>
         <small>Hello. Before you read anything, go to the "Users" tab and add yourself, then sign in. Your name will be used as your username, so use that to get in. You've done that? Well, here you can take math quizzes of Geometry. There is one for each chapter, until chapter 13. Each quiz will have a few questions. They will be multiple choice, and after each question you will get the answer and see if you got it wrong or right. Then you know what you don't know and need to study. When you think you know it all, take the quiz again, and if you get them all right, you are ready! Good Luck! You can also make quizzes and add questions. Please use this site to actually make math quizzes and questions. Wherever something says "author", please use your username so other users know who made it.
           <br> 
           Thank you very much!
           <br>
           -Tobe</small></h1>
    </div>
  <div class = "col-md-6">
    <img src = "http://img2.imagesbn.com/p/9780866099653_p0_v1_s260x420.jpg" alt="Mcdougal Littell Geometry for Enjoyment and Challenge" height = "300px">
    <h1>BOOK INFO
      <br>
      <small>The book GEOQUIZ is supporting is McDougall Littel Geometry for Enjoyment and Challenge. If you have another book, check the chapter names under the dropdown labeled "GEOMETRY". They may as well be about the same as the chapters in your book, and then they will have about the same content. If they are not, you can still check out the quizzes and see if it has anything to do with what you have learned in class. If yes, that's great! If no, that's too bad. But don't waste too much time reading this. 
        <br>
        Start quizzing away!</small></h1>
    </div>