<div class ="hello">
<img src = "http://img1.wikia.nocookie.net/__cb20121111062145/adventuretimewithfinnandjake/images/3/3e/Troll_Face.png" alt="TROLOLOL" height="300px">
HI, CLICK TO MOVE ON.
	<button><a href='/show'>TO GEOQUIZ</a></button>
 </div>